{% extends 'base.html' %}
{% load static %}

{% block title %} Product | Form {% endblock title %}

{% block content %}

<div class="container px-4 px-lg-5">
    <form action="" class="tm-edit-product-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label
            for="name"
            >Product Name
            </label>
            <input
            id="name"
            name="name"
            type="text"
            class="form-control validate"
            value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
            required
            />
            {% for error in form.name.errors %}
            <p class="alert alert-danger"> {{ error }} </p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label
            for="description"
            >Description</label
            >
            <textarea
            class="form-control validate"
            name="description"
            rows="3"
            >{% if form.description.value %} {{form.description.value}} {% endif %}</textarea>
            {% for error in form.description.errors %}
            <p class="alert alert-danger"> {{ error }} </p>
            {% endfor %}
        </div>
    
        <div class="form-group">
            <label for="exampleFormControlFile1">Product Price</label>
            <input type="text" class="form-control" name="price" value="{% if form.price.value %}{{ form.price.value }}{% endif %}" id="exampleFormControlFile1">
            {% for error in form.price.errors %}
            <p class="alert alert-danger" > {{ error }} </p>
            {% endfor %}
        </div>

        <div class="form-group">

            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for category in categories %}
                <option value="{{ category.pk }}"> {{ category.name }} </option>
              {% endfor %}
            </select>
            {% for error in form.category.errors %}
            <p class="alert alert-danger"> {{ error }} </p>
            {% endfor %}
        </div>      

        <div class="form-group">

            <label for="exampleFormControlFile1">UPLOAD PRODUCT IMAGE</label>
            <input type="file" class="form-control" name="image" id="exampleFormControlFile1">
            {% for error in form.image.errors %}
            <p class="alert alert-danger"> {{ error }} </p>
            {% endfor %}
        </div>
    
        <div class="mt-2 col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
        </div>
    </form>
</div>

{% endblock content %}