<form method="GET" action="">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">          
        <select class="custom-select mr-sm-2 form-control" name='category' id="inlineFormCustomSelect">
          <option value="all">Select Category</option>
          {% for category in categories %}
            <option value="{{ category.name }}"> {{ category.name }} </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>